@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 100vh;
  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: hsl(235, 21%, 11%);
}
.container {
  margin-inline: auto;
  max-width: 480px;
}
.todo-header {
  margin-top: 70px;
  top: 70px;
}
.todo-content {
  display: flex;
  justify-content: space-between;
}
.mode-icons {
  background: none;
  border: none;
  cursor: pointer;
}
.todo__title {
  letter-spacing: 15px;
  color: white;
}
.todo-form {
  background-color: hsl(235, 24%, 19%);
  border-radius: 5px;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 35px;
}
.todo-input--el {
  background-color: inherit;
  border: none;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: inherit;
  font-family: inherit;
}
.todo-input--el::placeholder {
  color: hsl(234, 11%, 52%);
}
.todo {
  margin-top: 17px;
  background-color: hsl(235, 24%, 19%);
  border-radius: 5px;
}
.todo-item {
  border-bottom: 1px solid hsl(233, 14%, 35%);
  list-style: none;
  color: hsl(234, 39%, 85%);
  font-size: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  gap: 20px;
}
.todo-status {
  border-radius: 50%;
  border: 1px solid hsl(233, 14%, 35%);
  height: 23px;
  width: 25px;
  background-color: hsl(235, 24%, 19%);
  position: relative;
}
.todo-completed {
  background: linear-gradient(to left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.todo-status--label {
  position: relative;
  left: 6px;
  top: 5px;
}
.check-icon {
  position: absolute;
}
#new-todo {
  opacity: 0;
  height: 23px;
  width: 30px;
  transform: translate(-2px, -1px);
}
