.btn {
  background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
  border: none;
  border-radius: 3.125rem;
  color: $White;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5em;
  padding-block: 0.64rem;
  width: 10.188rem;
}
