.section-how {
  background-color: $Very-Light-Gray;
  .section-how__container {
    display: flex;
    flex-direction: column;
    .section-how__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
